In [1]:
import pandas as pd 
import numpy as np

In [19]:
books = pd.read_csv("C:/Users/manoj/Desktop/deep_learning/final_project/book/books.csv")
ratings= pd.read_csv("C:/Users/manoj/Desktop/deep_learning/final_project/book/ratings.csv")
book_tags=pd.read_csv("C:/Users/manoj/Desktop/deep_learning/final_project/book/book_tags.csv")
tags = pd.read_csv("C:/Users/manoj/Desktop/deep_learning/final_project/book/tags.csv")
to_read = pd.read_csv("C:/Users/manoj/Desktop/deep_learning/final_project/book/to_read.csv")

In [5]:
books.head()
#books has metadata for each book (goodreads IDs, authors, title, average rating, etc.).

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
books.shape

(10000, 23)

In [7]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [9]:
# contains around 6 million ratings
ratings.shape

(5976479, 3)

In [10]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [13]:
book_tags.shape
#contains genres assigned to books by users.

(999912, 3)

In [14]:
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [16]:
tags.shape
# tags df translates tag IDs to names.

(34252, 2)

In [18]:
tags.tail()

       tag_id    tag_name
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

In [20]:
to_read.shape
#provides IDs of the books marked “to read” by each user, as user_id,book_id pairs, sorted by time. 
#There are close to a million pairs.

(912705, 2)

In [21]:
to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

In [23]:
tags_join_DF = pd.merge(book_tags, tags, left_on='tag_id', right_on='tag_id', how='inner')
tags_join_DF.tail()

        goodreads_book_id  tag_id  count     tag_name
999907           31538635   14690      6     hogwarts
999908           32848471   16149     21     jan-2017
999909           33288638   27821      9   single-mom
999910           33288638   11478      7  fave-author
999911           33288638   27939      7     slowburn

In [29]:
tags_join_DF[tags_join_DF['tag_id']==30574]

      goodreads_book_id  tag_id   count tag_name
0                     1   30574  167697  to-read
1                     2   30574   24549  to-read
2                     3   30574  496107  to-read
3                     5   30574   11909  to-read
4                     6   30574     298  to-read
5                     8   30574    2823  to-read
6                    10   30574    3226  to-read
7                    11   30574   32303  to-read
8                    13   30574   75870  to-read
9                    21   30574   33603  to-read
10                   24   30574    1009  to-read
11                   25   30574     816  to-read
12                   26   30574   27858  to-read
13                   27   30574   31357  to-read
14                   28   30574   35420  to-read
15                   29   30574    5492  to-read
16                   30   30574     692  to-read
17                   33   30574  116442  to-read
18                   34   30574   15494  to-read
19                   36   30574    3492  to-read
20                   50   30574     790  to-read
21                   67   30574    8621  to-read
22                   93   30574   27829  to-read
23                   98   30574    1217  to-read
24                  105   30574      51  to-read
25                  106   30574      72  to-read
26                  112   30574      88  to-read
27                  117   30574   12731  to-read
28                  119   30574    2949  to-read
29                  122   30574   29584  to-read
...                 ...     ...     ...      ...
9953           29632984   30574    1546  to-read
9954           29639736   30574    4385  to-read
9955           29780253   30574   61192  to-read
9956           29868610   30574   60781  to-read
9957           29906980   30574   48783  to-read
9958           29925715   30574     973  to-read
9959           29975458   30574   34577  to-read
9960           29981261   30574    5094  to-read
9961           29991719   30574    3286  to-read
9962           30002998   30574   12721  to-read
9963           30008702   30574    6589  to-read
9964           30065028   30574   50766  to-read
9965           30226723   30574    2246  to-read
9966           30253700   30574     138  to-read
9967           30253864   30574    2261  to-read
9968           30314465   30574    1606  to-read
9969           30364931   30574    9808  to-read
9970           30555488   30574  177759  to-read
9971           30831912   30574   72443  to-read
9972           30839185   30574    3524  to-read
9973           31140847   30574   11559  to-read
9974           31176886   30574    1209  to-read
9975           31194270   30574      15  to-read
9976           31538614   30574   24465  to-read
9977           31538635   30574   17851  to-read
9978           31538647   30574   23052  to-read
9979           31845516   30574   34617  to-read
9980           32075671   30574    5858  to-read
9981           32848471   30574     102  to-read
9982           33288638   30574   14116  to-read

[9983 rows x 4 columns]

In [36]:
tags_join_DF= tags_join_DF[tags_join_DF.tag_name!="to-read"]

In [42]:
tags_join_DF= tags_join_DF[tags_join_DF['count'] > 1]

In [43]:
tags_join_DF.head()

      goodreads_book_id  tag_id  count tag_name
9983                  1   11305  37174  fantasy
9984                  2   11305   3441  fantasy
9985                  3   11305  47478  fantasy
9986                  5   11305  39330  fantasy
9987                  6   11305  38378  fantasy

In [44]:
merge_DF = pd.merge(tags_join_DF, books, left_on='goodreads_book_id', right_on='goodreads_book_id', how='left')

In [47]:
merge_DF.head()

,goodreads_book_id,tag_id,count,tag_name,book_id,best_book_id,work_id,books_count,isbn,isbn13,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,11305,37174,fantasy,27,1,41335427,275,439785960,9.780440e+12,...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
1,2,11305,3441,fantasy,21,2,2809203,307,439358078,9.780439e+12,...,1735368,1840548,28685,9528,31577,180210,494427,1124806,https://images.gr-assets.com/books/1387141547m...,https://images.gr-assets.com/books/1387141547s...
2,3,11305,47478,fantasy,2,3,4640799,491,439554934,9.780440e+12,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
3,5,11305,39330,fantasy,18,5,2402163,376,043965548X,9.780440e+12,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...
4,6,11305,38378,fantasy,24,6,3046572,332,439139600,9.780439e+12,...,1753043,1868642,31084,6676,20210,151785,494926,1195045,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...

In [48]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [49]:
books['tag_list'] = None

In [58]:
for index, row in books.iterrows():
    book_tags = tags_join_DF[tags_join_DF['goodreads_book_id'] == row['goodreads_book_id']]
    books.at[index, 'tag_list'] = book_tags['tag_name'].tolist()
    #print(row['tag_list'])

In [63]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_list
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,"[fantasy, favorites, currently-reading, young-..."
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,"[fantasy, favorites, currently-reading, young-..."
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,"[fantasy, favorites, currently-reading, young-..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,"[favorites, currently-reading, young-adult, fi..."
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,"[favorites, currently-reading, young-adult, fi..."

In [62]:
pd.options.display.max_columns=25

In [67]:
books=books.drop(['goodreads_book_id', 'best_book_id', 'work_id','isbn', 'isbn13','image_url', 'small_image_url'],axis=1)

In [68]:
books.head()

,book_id,books_count,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,tag_list
0,1,272,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,"[fantasy, favorites, currently-reading, young-..."
1,2,491,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,"[fantasy, favorites, currently-reading, young-..."
2,3,226,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,"[fantasy, favorites, currently-reading, young-..."
3,4,487,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,"[favorites, currently-reading, young-adult, fi..."
4,5,1356,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,"[favorites, currently-reading, young-adult, fi..."

In [69]:
authors=pd.get_dummies(books['authors'])

In [70]:
authors.head()

,A. Manette Ansay,A. Meredith Walters,"A.A. Milne, Ernest H. Shepard",A.C. Gaughen,A.G. Howard,A.G. Riddle,A.J. Banner,A.J. Jacobs,"A.L. Singer, Walt Disney Company",A.M. Homes,"A.N. Roquelaure, Anne Rice","A.P.J. Abdul Kalam, Arun Tiwari",...,غسان كنفاني,محمد السالم,"محمد المنسي قنديل, Mohamed Mansi Qandil",محمد صادق,محمد عبد الرحمن العريفي,مصطفى إبراهيم,مصطفى محمود,منى المرشود,نور عبدالمجيد,ياسر حارب,يوسف زيدان,"يوسف زيدان, Youssef Ziedan"
0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
language_code=pd.get_dummies(books['language_code'])

In [72]:
language_code.head()

,ara,dan,en,en-CA,en-GB,en-US,eng,fil,fre,ger,ind,ita,jpn,mul,nl,nor,per,pol,por,rum,rus,spa,swe,tur,vie
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [74]:
one_hot_merged=pd.merge(language_code,authors,left_index= True, right_index=True, how='left')

In [75]:
one_hot_merged.head()

,ara,dan,en,en-CA,en-GB,en-US,eng,fil,fre,ger,ind,ita,...,غسان كنفاني,محمد السالم,"محمد المنسي قنديل, Mohamed Mansi Qandil",محمد صادق,محمد عبد الرحمن العريفي,مصطفى إبراهيم,مصطفى محمود,منى المرشود,نور عبدالمجيد,ياسر حارب,يوسف زيدان,"يوسف زيدان, Youssef Ziedan"
0,0,0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0

In [76]:
books_merged=pd.merge(books,one_hot_merged,left_index= True, right_index=True, how='left')

In [77]:
books_merged.head()

,book_id,books_count,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,...,غسان كنفاني,محمد السالم,"محمد المنسي قنديل, Mohamed Mansi Qandil",محمد صادق,محمد عبد الرحمن العريفي,مصطفى إبراهيم,مصطفى محمود,منى المرشود,نور عبدالمجيد,ياسر حارب,يوسف زيدان,"يوسف زيدان, Youssef Ziedan"
0,1,272,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,...,0,0,0,0,0,0,0,0,0,0,0,0
1,2,491,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,...,0,0,0,0,0,0,0,0,0,0,0,0
2,3,226,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,...,0,0,0,0,0,0,0,0,0,0,0,0
3,4,487,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,...,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1356,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,...,0,0,0,0,0,0,0,0,0,0,0,0

In [78]:
books_merged=books_merged.drop(['authors','language_code'],axis=1)

In [79]:
books_merged.head()

,book_id,books_count,original_publication_year,original_title,title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,...,غسان كنفاني,محمد السالم,"محمد المنسي قنديل, Mohamed Mansi Qandil",محمد صادق,محمد عبد الرحمن العريفي,مصطفى إبراهيم,مصطفى محمود,منى المرشود,نور عبدالمجيد,ياسر حارب,يوسف زيدان,"يوسف زيدان, Youssef Ziedan"
0,1,272,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,4780653,4942365,155254,66715,127936,560092,...,0,0,0,0,0,0,0,0,0,0,0,0
1,2,491,1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479,4800065,75867,75504,101676,455024,...,0,0,0,0,0,0,0,0,0,0,0,0
2,3,226,2005.0,Twilight,"Twilight (Twilight, #1)",3.57,3866839,3916824,95009,456191,436802,793319,...,0,0,0,0,0,0,0,0,0,0,0,0
3,4,487,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,4.25,3198671,3340896,72586,60427,117415,446835,...,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1356,1925.0,The Great Gatsby,The Great Gatsby,3.89,2683664,2773745,51992,86236,197621,606158,...,0,0,0,0,0,0,0,0,0,0,0,0

In [81]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manoj\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [86]:
def clean_titles(text):
    text = str(text)
    tokens = text.split()
    
    
    stop_words = set(stopwords.words('english'))
    tokens = [w.lower() for w in tokens if not w in stop_words]
    tokens = [w for w in tokens if len(w)>1]
    return ' '.join(tokens)

books_merged['title'] = books_merged.apply(lambda x: clean_titles(x['title']), axis=1)

In [87]:
books_merged['original_title'] = books_merged.apply(lambda x: clean_titles(x['original_title']), axis=1)

In [89]:
from keras.preprocessing.text import Tokenizer

In [90]:
books_merged['combined_title'] = books_merged.apply(lambda x: x['title'] + ' ' + x['original_title'], axis=1)

In [91]:
title_tokenizer = Tokenizer(num_words=1000)
title_tokenizer.fit_on_texts(np.asarray(books_merged['combined_title']))

In [92]:
title_tokens = title_tokenizer.texts_to_matrix(np.asarray(books_merged['combined_title']), mode='tfidf')

In [94]:
books_merged=pd.merge(books_merged, pd.DataFrame(title_tokens), left_index=True, right_index=True, how='left')

In [95]:
books_merged.drop(['title', 'original_title'], axis=1, inplace=True)

In [96]:
books_merged.head()

,book_id,books_count,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,...,988,989,990,991,992,993,994,995,996,997,998,999
0,1,272,2008.0,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,491,1997.0,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,226,2005.0,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,487,1960.0,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1356,1925.0,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0