In [1]:
import numpy as np
import pandas as pd
from recsys.hlinucb import HLinUCB

In [2]:
train_ratings = pd.read_csv('data/train_ratings_set.csv')
user_features = pd.read_csv('data/user_features_final.csv')

In [3]:
train_data = train_ratings.merge(user_features, how='left', on='user_id')
train_data.head()

,user_id,book_id,rating,avg_rating,0,1,2,3,4,5,...,15,16,17,18,19,20,21,22,23,24
0,36210,687,2,3.536232,0.202367,0.033538,0.001456,0.005575,0.006220,0.035502,...,0.039848,0.022133,0.013898,0.049059,0.012314,0.020619,0.007972,0.000000,0.002621,0.011240
1,8,1509,1,3.421053,0.199233,0.013608,0.000536,0.003621,0.023440,0.005159,...,0.038217,0.034223,0.020021,0.040144,0.000000,0.003788,0.006364,0.016232,0.000000,0.088559
2,42833,3128,4,4.611940,0.196320,0.021527,0.007529,0.007994,0.014450,0.030204,...,0.016280,0.000000,0.024576,0.049903,0.033650,0.008952,0.010336,0.019030,0.012419,0.064434
3,39774,27,3,3.523810,0.156639,0.050961,0.051112,0.004160,0.012483,0.067711,...,0.007462,0.015160,0.000000,0.078406,0.000000,0.164855,0.007695,0.020140,0.013062,0.010286
4,28108,1120,5,4.678571,0.189999,0.032203,0.093174,0.000000,0.000000,0.085931,...,0.007475,0.020444,0.010343,0.026707,0.000000,0.004009,0.019859,0.013946,0.007980,0.008841

In [6]:
train_data['avg_rating'] = train_data['avg_rating'] / 5

In [4]:
context_columns = user_features.drop('user_id', axis=1).columns

In [5]:
context_columns

Index(['avg_rating', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24'],
      dtype='object')

In [8]:
model = HLinUCB(alpha_a=1, alpha_u=1, lam1=1, lam2=1, context_columns=context_columns, 
                user_column='user_id', decisions_column='book_id')

In [ ]:
train_data['binary_rating'] = train_data.apply(lambda x: 1 if x['rating'] > 3 else 0, axis=1)

In [ ]:
model.fit(train_data, train_data['binary_rating'])